
@font-face {
    font-family: "fantasy";
    src: url(../fonts/FontsFree-Net-CodeProBold.ttf);
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat-Bold.ttf);
}
.font-fantasy{
    font-family: "fantasy";
}
body{
    font-family: "Montserrat-Regular";
    line-height: 1.5;
}
.font-Montserrat-Regular{
    font-family: "Montserrat-Regular";
}
.font-Montserrat-Medium{
    font-family: "Montserrat-Medium";
}
.font-Montserrat-Bold{
    font-family: "Montserrat-Bold";
}

.VueCarousel-wrapper{
    border-radius: 25px;
    overflow: hidden;
} 
.VueCarousel-pagination{
    display: none;
}
.gradient-background {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 18.04%, rgba(0, 0, 0, 0.87) 100%);
}
.hidden-important {
    display: none !important;
}
.rent-produt:hover .hidden-important {
    display: block !important; 
}
.rent-produt:hover .description {
    color: #121212;
}

/* Add these new styles for the accordion */
.accordion-open svg {
    transform: rotate(180deg);
}

svg {
    transition: transform 0.3s ease;
}
.accordion-color{
    color: #121212 !important;
}
.accordion-open {
    background-color: #8D54FF !important; 
    color: #ffffff !important;
}

.menu-scroll{
    height: calc(100vh - 30px);
    overflow: auto;
}
.text-hidden-lg{
    max-width: 155px;
}
@media screen and (max-width:767px){
    .text-hidden-lg{
        max-width: 95px;
    }
}
@media screen and (min-width:768px) and (max-width:870px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media screen and (min-width:1024px) and (max-width:1150px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .text-hidden-lg{
        max-width: 90px;
    }
}
@media screen and (min-width:1151px) and (max-width:1279px) {
    .text-hidden-lg{
        max-width: 96px;
    }
}
@media screen and (min-width:1280px) and (max-width:1350px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .text-hidden-lg{
        max-width: 140px;
    }
    
}

@media screen and (min-width:1536px) and (max-width:1630px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}